{% extends "base.html" %}

{% block title %}Watch History{% endblock %}

{% block search %}{% endblock %}

{% block content %}
<div class="games-view">
  <div class="games-toolbar">
    <div class="stats" id="history-stats"></div>
    <form id="history-filters" class="games-filters" data-list-filters>
      <div class="toolbar-sort-wrap" data-sort-control>
        <input type="hidden" name="sort" class="toolbar-sort-value" id="history-sort" value="recent">
        {% let sort_menu_id = "history-sort-menu" %}
        {% include "_sort_control.html" %}
      </div>
    </form>
  </div>
  <div id="history-grid" class="vod-grid"></div>
</div>
<script type="module" src="/static/history.js" nonce="{{ nonce }}"></script>
{% endblock %}
